body {
  background: #f9fafc;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 400;
}
body > .alert {
  z-index: 2000;
}
span.fas {
  margin: 5px;
}
span.status-icon-badge {
  color: white;
  position: relative;
  text-align: center;
  top: 3px;
  font-size: 0.9rem;
  font-weight: 500;
  left: -3px;
  background: #8a8a8a;
  border-radius: 28px;
  padding: 1px 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.red-status-icon {
  color: red;
}
.yellow-status-icon {
  color: #ff9b16;
}
.green-status-icon {
  color: #14d62f;
}
.unknown-status-icon {
  color: lightgrey;
}
.button-has-error {
  border: 1px solid red;
}
.button-has-success {
  border: 1px solid green;
}
.navbar-text, .navbar-link{
  color: white!important;
}
.island-style {
  background: white;
  border-radius: 0.4rem;
  padding: 2rem;
  border: 1px solid #e2e2e2;
  box-shadow: 0 1px 4px 0px #00000014;

}
.island-style-v-spaced {
  @extend .island-style;
  margin: 2rem auto;
}
.ajax-comments-table-cell {
  border-top: 0 !important;
}
.alert-danger {
  color: white;
  background-color: #fb5757;
  border-radius: 0.3rem;
  box-shadow: 0 0 9px #9c9c9c87;
  border: 0;
}
.alert-success {
  color: white;
  background-color: #53b92a;
  border-radius: .2rem;
  box-shadow: 0 0 9px #9c9c9c87;
  border: 0;
}
.close {
  opacity: .7;
}
a#phone-add {
  margin-bottom: 1rem;
}
span.imiei-text {
  font-size: 0.9rem;
  display: block;
}
.autocomplete {
  box-shadow: 0px 10px 20px #0000000f;
  position: absolute;
  z-index: 9999;
  min-width: 300px;
  min-height: 80px;
  ul {
    max-height: 200px;
    overflow-y: scroll;
  }
  li {
    &:hover {
      background: #e1e1e1;
      cursor: pointer;
    }
  }
}
table {
  .row-click {
    cursor: pointer;
  }
  .sub-table {
    background: #f9f9f9;
    padding: 1rem;
    .alert {
      width: auto;
    }
    table {
      width: auto;
    }
  }
}
/**
* yet another loader
 */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.lds-ring-small {
  $width: 20px;
  $height: 20px;
  @extend .lds-ring;
  width: $width + 10;
  height: $height + 10;

  div {
    width: $width;
    height: $height;
    border: 2px solid #fff;
    border-color: black transparent transparent transparent;
  }
}

