body {
    background: #f9fafc;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
}
.island-style {
    background: white;
    border-radius: 0.4rem;
    padding: 2rem;
    border: 1px solid #e2e2e2;
    box-shadow: 0 1px 4px 0px #00000014;
}
.ajax-comments-table-cell {
    border-top: 0 !important;
}
.alert-danger {
    color: white;
    background-color: #fb5757;
    border-radius: 0.3rem;
    box-shadow: 0 0 9px #9c9c9c87;
    border: 0;
}
.alert-success {
    color: white;
    background-color: #53b92a;
    border-radius: .2rem;
    box-shadow: 0 0 9px #9c9c9c87;
    border: 0;
}
.close {
    opacity: .7;
}
a#phone-add {
    margin-bottom: 1rem;
}
span.imiei-text {
    font-size: 0.9rem;
    display: block;
}